html {
  --background-color: #1c1e21;
  --sidebar-background-color: #242526;
  --communist-red: #df0e0e;
  --text-color: #ffffff;
  --feed-colour: #373a3c;
  --border-color: #5e5e5e;
  --logo-hover: #b2a4a4;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Helvetica Neue", "Segoe UI", "Helvetica", "Arial", "sans-serif";
  overflow-wrap: break-word;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
}

.container {
  display: flex;
  flex-direction: row;
  height: 100vh;
}

.sidebar {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 150px;
  height: 100vh;
  background-color: var(--sidebar-background-color);
  padding: 20px;
}

.logo {
  width: 75px;
  margin-right: 10px;
  margin-top: 5px;
  border: 1px solid transparent;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  margin: 10px 0;
}

li a {
  color: var(--text-color);
  text-decoration: none;
  font-weight: bold;
  font-size: 16px;
  letter-spacing: 0.5px;
}

.middle {
  margin-left: 150px;
  margin-right: 250px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

input[type="text"] {
  padding: 10px;
  border: none;
  font-size: 16px;
  background-color: transparent;
  width: 100%;
  color: var(--text-color);
}

button {
  padding: 10px 20px;
  background-color: var(--communist-red);
  color: var(--text-color);
  border: none;
  border-radius: 9999px;
  cursor: pointer;
  font-size: 17px;
  margin-left: 10px;
}

.feed {
  flex-grow: 1;
  background-color: var(--feed-colour);
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
  width: 100%;
  max-width: 600px;
  padding: 20px;
}

.right {
  position: fixed;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 250px;
  height: 100vh;
  background-color: var(--sidebar-background-color);
  border-left: 1px solid var(--border-color);
  padding: 20px; /* added padding */
}

.spyyt-box button {
  padding: 10px 20px;
  background-color: var(--communist-red);
  color: var(--text-color);
  border: none;
  border-radius: 9999px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 20px;
  position: relative;
  overflow: hidden;
}

button span {
  background-color: var(--text-color);
  height: 100%;
  width: 0%;
  border-radius: 9999px;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: -1;
  transition: width 0.3s ease-in-out;
}

button:hover span {
  width: 100%;
}
.spyyt-box {
  background-color: var(--background-color);
  padding: 10px;
  border-radius: 10px;
}
input:focus,
textarea:focus,
select:focus {
  outline: none;
}

.logo:hover {
  border-color: var(--logo-hover);
  border-radius: 45%;
}

.sidebar li a:hover {
  border-bottom: 2px solid var(--communist-red);
  transition: border-bottom 0.3s ease-in-out;
}
